<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang chủ</title>
    <link rel="shortcut icon" href="../img/logo_iconToco.png" />
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="../js/index.js"></script>
  </head>

  <body>
    <div class="container">
      <header id="banner-header">
        <div class="menu_header">
          <div class="menu_header_center">
            <img src="../img/Logo-ngang-01.png" alt="" />
            <input type="checkbox" name="" id="click_menu_btn" />
            <nav>
              <ul>
                <li>
                  <a href="./index.html">Trang chủ</a>
                </li>
                <li>
                  <a href="./introduce.html">Giới thiệu</a>
                </li>
                <li>
                  <a href="./order.html">Sản phẩm</a>
                </li>
                <li>
                  <a href="">Tin tức</a>
                </li>
                <li>
                  <a href="#last_section">Cửa hàng</a>
                </li>
                <li>
                  <a href="./recruit.html">Tuyển dụng</a>
                </li>
                <li>
                  <a href="">Nhượng quyền</a>
                </li>
              </ul>
            </nav>
            <label class="menu_btn" for="click_menu_btn"
              ><i class="fa-solid fa-bars"></i
            ></label>
          </div>
        </div>
        <div class="slideshow">
          <button class="next"></button>
          <button class="prev"></button>
        </div>
        <div class="text-banner">
          <h3>ToCoToCo Tea</h3>
          <h1>
            đậm vị thiên nhiên <br />
            trọn vị hạnh phúc
          </h1>
          <p>
            Với sứ mệnh mang tới niềm vui và hạnh phúc, TocoToco hy vọng sẽ tạo
            nên
            <br />
            một nét văn hóa giải trí bên cạnh ly trà sữa Ngon – sạch – tươi.
          </p>
          <a class="btn-login" href="./login.html"> Đăng nhập </a>
        </div>
      </header>
    </div>
    <aside>
      <div class="tille-home">
        <div class="tille-home-center">
          <h3>ToCoToCo introduce</h3>
          <h1>GIỚI THIỆU</h1>
          <img src="../img/home_line.webp" alt="" />
        </div>
      </div>
      <div class="first-section">
        <div class="item-img">
          <img
            src="../img/istockphoto-1256035689-612x612-removebg-preview.png"
            alt=""
          />
        </div>
        <div class="top-item">
          <div class="item-text">
            <h3>CÂU CHUYỆN THƯƠNG HIỆU</h3>
            <p>
              ToCoToCo mở cửa hàng đầu tiên vào năm 2013, mang trong mình lòng
              đam mê và khát vọng xây dựng một thương hiệu trà sữa thuần Việt,
              mang đậm hương vị quê hương. ToCoToCo tin rằng thưởng thức một ly
              trà sữa được pha chế từ trà Mộc Châu, trân châu từ sắn dây Nghệ An
              hay mứt dâu tằm từ Đà Lạt sẽ là những trải nghiệm hoàn toàn khác
              biệt và tuyệt vời nhất cho những khách hàng của mình. Cũng chính
              từ sự khác biệt đó, thương hiệu ToCoToCo đã có những bước phát
              triển thần tốc và dần chiếm lĩnh thị trường trà sữa với hơn 200
              cửa hàng trải dài trên toàn quốc. Cột mốc năm 2018 đánh dấu ước mơ
              vươn xa biển lớn của thương hiệu khi ToCoToCo chính thức đặt chân
              lên nước Mỹ và tiếp nối thành công tại Úc, Nhật Bản, Hàn Quốc,
              Singapore,…
            </p>
          </div>
        </div>
        <div class="bottom-item">
          <div class="item-text2">
            <h3>Sứ mệnh</h3>
            <p>
              Bên cạnh niềm tự hào về những ly trà sữa ngon – sạch – tươi, chúng
              tôi luôn tự tin mang đến khách hàng những trải nghiệm tốt nhất về
              dịch vụ và không gian. <br /><br />
              Chọn cho mình hướng đi riêng với những ly trà sữa đậm vị, thơm
              ngon từ nông sản Việt, thương hiệu ToCoToCo đã chinh phục được
              hàng triệu khách hàng. Bằng cả tâm huyết, thương hiệu đã mang trà
              sữa làm từ nông sản Việt vươn ra thế giới.
            </p>
          </div>
        </div>
      </div>
      <div class="tille-home">
        <div class="tille-home-center">
          <h3>ToCoToCo Menu</h3>
          <h1>SẢN PHẨM NỔI BẬT</h1>
          <img src="../img/home_line.webp" alt="" />
        </div>
      </div>
      <div class="section-menu-card">
        <div class="list-produce">
          <div class="card-produce">
            <img src="../img/choco_ngucoc_kem_cafe.png" alt="" />
            <div class="card_produce_hover">
              <span>Choco ngũ cốc kem cafe</span>
              <span>29.000đ</span>
              <button>Đặt hàng</button>
            </div>
          </div>

          <div class="card-produce">
            <img src="../img/Grass-Jelly-Milk-Coffee.png" alt="" />
            <div class="card_produce_hover">
              <span>Choco ngũ cốc kem cafe</span>
              <span>29.000đ</span>
              <button>Đặt hàng</button>
            </div>
          </div>
          <div class="card-produce">
            <img src="../img/Hinh-anh-sp-website_ruby-.jpg" alt="" />
            <div class="card_produce_hover">
              <span>Dâu tằm kem phô mai</span>
              <span>29.000đ</span>
              <button>Đặt hàng</button>
            </div>
          </div>
          <div class="card-produce">
            <img src="../img/ezgif.com-gif-maker-10.jpg" alt="" />
            <div class="card_produce_hover">
              <span>Trà sữa trân châu hoàng gia</span>
              <span>29.000đ</span>
              <button>Đặt hàng</button>
            </div>
          </div>
          <div class="card-produce">
            <img src="../img/hongtra_ngucoc.png" alt="" />
            <div class="card_produce_hover">
              <span>Hồng trà ngũ cốc kem cafe</span>
              <span>29.000đ</span>
              <button>Đặt hàng</button>
            </div>
          </div>
          <div class="card-produce">
            <img src="../img/Royal-Pearl-Milk-Coffee.png" alt="" />
            <div class="card_produce_hover">
              <span>Royal pearl milk coffee</span>
              <span>29.000đ</span>
              <button>Đặt hàng</button>
            </div>
          </div>
          <div class="card-produce">
            <img src="../img/ezgif.com-gif-maker-12.jpg" alt="" />
            <div class="card_produce_hover">
              <span>Tiger sugar</span>
              <span>29.000đ</span>
              <button>Đặt hàng</button>
            </div>
          </div>
          <div class="card-produce">
            <img src="../img/tra-xoai-buoi-hong-kem-pho-mai.png" alt="" />
            <div class="card_produce_hover">
              <span>Trà xoài bưởi hồng kem phô mai</span>
              <span>48.000đ</span>
              <button>Đặt hàng</button>
            </div>
          </div>
        </div>
        <a href="./order.html"><button class="btn-bottom">XEM THÊM</button></a>
      </div>
      <div class="clearfix"></div>
      <div class="tille-home last_tille_home">
        <div class="tille-home-center">
          <h3>ToCoToCo Store</h3>
          <h1>HỆ THỐNG CỬA HÀNG</h1>
          <img src="../img/home_line.webp" alt="" />
        </div>
      </div>
      <div id="last_section" class="last-section">
        <div class="iframe_maps">
          <iframe
            name="iframe"
            src=""
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          >
          </iframe>
        </div>
        <div class="select-store">
          <div class="option-store">
            <div class="option_store_img">
              <img src="../img/kTmtZly.png" alt="" />
            </div>
            <div class="option_store_right">
              <a
                href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1489645959987!2d106.70386571471869!3d10.799900692305615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529ba2cacdc4d%3A0x6df89cafea0e8480!2sTocoToco!5e0!3m2!1svi!2s!4v1652507873839!5m2!1svi!2s"
                target="iframe"
                ><span class="tille-bold">ToCo – 301 Điện Biên Phủ</span></a
              >
              <span>301 Điện Biên Phủ, Bình Thạnh</span>
              <span>Bình Thạnh</span>
            </div>
          </div>
          <div class="option-store">
            <div class="option_store_img">
              <img src="../img/kTmtZly.png" alt="" />
            </div>
            <div class="option_store_right">
              <a
                href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1489645954985!2d106.70387107911773!3d10.799900692343272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529ba2cacdc4d%3A0x6df89cafea0e8480!2sTocoToco!5e0!3m2!1svi!2s!4v1652510064946!5m2!1svi!2s"
                target="iframe"
                ><span class="tille-bold">ToCo – 302 Điện Biên Phủ</span></a
              >
              <span>302 Điện Biên Phủ, Bình Thạnh</span>
              <span>Bình Thạnh</span>
            </div>
          </div>
          <div class="option-store">
            <div class="option_store_img">
              <img src="../img/kTmtZly.png" alt="" />
            </div>
            <div class="option_store_right">
              <a
                href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.2945219414064!2d106.76855637911763!3d10.788739692350788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175268082c4fb99%3A0xebc6621aea4fdba8!2zNTM3IMSQLiBOZ3V54buFbiBEdXkgVHJpbmgsIFBoxrDhu51uZyBCw6xuaCBUcsawbmcgVMOieSwgUXXhuq1uIDIsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1652510214302!5m2!1svi!2s"
                target="iframe"
              >
                <span class="tille-bold">ToCo – Nguyễn Duy Trinh</span></a
              >
              <span>537 Nguyễn Duy Trinh Quận 2</span>
              <span>Quận 2</span>
            </div>
          </div>
          <div class="option-store">
            <div class="option_store_img">
              <img src="../img/kTmtZly.png" alt="" />
            </div>
            <div class="option_store_right">
              <a
                href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.0791928077842!2d106.72907827911791!3d10.805246592339673!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752619136e6d79%3A0x485d382028739204!2zNTEgxJAuIFF14buRYyBIxrDGoW5nLCBUaOG6o28gxJBp4buBbiwgUXXhuq1uIDIsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCA3MDAwMDAsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1652510353931!5m2!1svi!2s"
                target="iframe"
                ><span class="tille-bold">ToCo – 51 Quốc Hương</span></a
              >
              <span>51 Quốc Hương, P. Thảo Điền, Quận 2, TP. HCM</span>
              <span>Quận 2</span>
            </div>
          </div>

          <div class="option-store">
            <div class="option_store_img">
              <img src="../img/kTmtZly.png" alt="" />
            </div>
            <div class="option_store_right">
              <a
                href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6510166391545!2d106.70554817911746!3d10.761356192369348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f6ecc354539%3A0xa85913d0f3c62de8!2zMjMgVMO0biDEkOG6o24sIFBoxrDhu51uZyAxMywgUXXhuq1uIDQsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1652510384040!5m2!1svi!2s"
                target="iframe"
              >
                <span class="tille-bold">ToCo – 23 Tôn Đản</span></a
              >
              <span>23 Tôn Đản, P. 13, Quận 4, TP. HCM</span>
              <span>Quận 4</span>
            </div>
          </div>

          <div class="option-store">
            <div class="option_store_img">
              <img src="../img/kTmtZly.png" alt="" />
            </div>
            <div class="option_store_right">
              <a
                href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6053739960325!2d106.7011546791175!3d10.764865992366946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f6a5171b653%3A0xe9a898e2acea422b!2zNTAgTMOqIFF14buRYyBIxrBuZywgUGjGsOG7nW5nIDEyLCBRdeG6rW4gNCwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1652510414639!5m2!1svi!2s"
                target="iframe"
                ><span class="tille-bold">ToCo – 50 Lê Quốc Hưng</span></a
              >
              <span>50 Lê Quốc Hưng, P.12, Quận 4</span>
              <span>Quận 4</span>
            </div>
          </div>

          <div class="option-store">
            <div class="option_store_img">
              <img src="../img/kTmtZly.png" alt="" />
            </div>
            <div class="option_store_right">
              <a
                href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6940735348003!2d106.69780897911738!3d10.758044192371505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f6d33e21d43%3A0x9e08c7271f185abf!2sTocotoco%20Qu%E1%BA%ADn%204!5e0!3m2!1svi!2s!4v1652510500672!5m2!1svi!2s"
                target="iframe"
              >
                <span class="tille-bold">ToCo – 02 Đường 41</span></a
              >
              <span>Số 2 Đường D41, Phường 6, Quận 4, TPHCM</span>
              <span>Quận 4</span>
            </div>
          </div>
          <div class="option-store">
            <div class="option_store_img">
              <img src="../img/kTmtZly.png" alt="" />
            </div>
            <div class="option_store_right">
              <a
                href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.7367391972116!2d106.69238787911735!3d10.754761292373775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f0ddab67fe1%3A0x4a77f993f38955f7!2zNTYgTmd1eeG7hW4gS2hvw6FpLCBQaMaw4budbmcgMiwgUXXhuq1uIDQsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1652510549399!5m2!1svi!2s"
                target="iframe"
                ><span class="tille-bold">ToCo – 56 Nguyễn Khoái</span></a
              >
              <span>56 Nguyễn Khoái, Q4</span>
              <span>Quận 4</span>
            </div>
          </div>

          <div class="option-store">
            <div class="option_store_img">
              <img src="../img/kTmtZly.png" alt="" />
            </div>
            <div class="option_store_right">
              <a
                href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31353.782491763774!2d106.63437227905537!3d10.794239710205034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f92adeac87f%3A0x7f185b74b8c0eeb!2zVHLDoCBz4buvYSBUb2NvdG9jbyAtIDEyOCBCw6B1IEPDoXQ!5e0!3m2!1svi!2s!4v1652510635557!5m2!1svi!2s"
                target="iframe"
                ><span class="tille-bold">ToCo – Bàu Cát</span></a
              >
              <span>128 Bàu Cát, Phường 14, quận Tân Bình</span>
              <span>Tân Bình</span>
            </div>
          </div>

          <div class="option-store">
            <div class="option_store_img">
              <img src="../img/kTmtZly.png" alt="" />
            </div>
            <div class="option_store_right">
              <a
                href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3848410526716!2d106.62758407911755!3d10.781808492355477!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ff22218be3d%3A0xf165756297c7c834!2zVG9jb1RvY28gTmd1eeG7hW4gU8ahbg!5e0!3m2!1svi!2s!4v1652510675837!5m2!1svi!2s"
                target="iframe"
              >
                <span class="tille-bold">ToCo – 91 Nguyễn Sơn</span></a
              >
              <span>91 Nguyễn Sơn, Phú Thạnh, Tân Phú, Hồ Chí Minh</span>
              <span>Tân Phú</span>
            </div>
          </div>
        </div>
      </div>
    </aside>
    <footer>
      <div class="footer">
        <div class="content-footer">
          <img src="../img/ft_logo.png" alt="" />
        </div>
        <div class="content-footer">
          <span>Copyrights © 2019 by ToCoToCoTea. All rights reserved.</span>
        </div>
        <div class="content-footer">
          <a href="https://www.facebook.com/tocotocobubbletea">
            <i class="fa-brands fa-facebook-square fb-icons"></i>
          </a>
          <a href="https://www.instagram.com/tocotoco_bubble_tea/">
            <i class="fa-brands fa-instagram-square fb-icons"></i>
          </a>
          <a href="https://www.tiktok.com/@tocotocobubbletea/">
            <i class="fa-brands fa-twitter-square fb-icons"></i>
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>
