<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/introduce.css" />
    <link rel="shortcut icon" href="../img/logo_iconToco.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <script src="../js/index.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="container">
        <header id="banner-header">
            <div class="menu_header">
                <div class="menu_header_center">
                    <img src="../img/Logo-ngang-01.png" alt="" />
                    <input type="checkbox" name="" id="click_menu_btn" />
                    <nav>
                        <ul>
                            <li>
                                <a href="./index.html">Trang chủ</a>
                            </li>
                            <li>
                                <a href="">Giới thiệu</a>
                            </li>
                            <li>
                                <a href="./order.html">Sản phẩm</a>
                            </li>
                            <li>
                                <a href="">Tin tức</a>
                            </li>
                            <li>
                                <a href="#last_section">Cửa hàng</a>
                            </li>
                            <li>
                                <a href="">Tuyển dụng</a>
                            </li>
                            <li>
                                <a href="">Nhượng quyền</a>
                            </li>
                        </ul>
                    </nav>
                    <label class="menu_btn" for="click_menu_btn"><i class="fa-solid fa-bars"></i
            ></label>
                </div>
            </div>
            <!-- <div class="slideshow">
                <button class="next"></button>
                <button class="prev"></button>
            </div> -->
            <div class="text-banner">
                <!-- <h3>ToCoToCo Tea</h3> -->
                <h1>Giới thiệu</h1>
                <!-- <p>
                    Với sứ mệnh mang tới niềm vui và hạnh phúc, TocoToco hy vọng sẽ tạo nên
                    <br /> một nét văn hóa giải trí bên cạnh ly trà sữa Ngon – sạch – tươi.
                </p>
                <a class="btn-login" href="./login.html"> Đăng nhập </a> -->
            </div>
        </header>
        <div class="wrapper">
            <section class="about_section">
                <h1>GIỚI THIỆU</h1>
                <p>
                    Luôn tâm huyết với việc khai thác nguồn nông sản Việt Nam để tạo ra những ly thức uống tươi ngon, an toàn và giàu giá trị dinh dưỡng, ToCoToCo mở cửa hàng đầu tiên vào năm 2013, mang trong mình lòng đam mê và khát vọng xây dựng một thương hiệu trà sữa
                    thuần Việt, mang đậm hương vị quê hương.ToCoToCo tin rằng thưởng thức một ly trà sữa được pha chế từ trà Mộc Châu, trân châu từ sắn dây Nghệ An hay mứt dâu tằm từ Đà Lạt sẽ là những trải nghiệm hoàn toàn khác biệt và tuyệt vời nhất
                    cho những khách hàng của mình.
                </p>
                <p>
                    Cũng chính từ sự khác biệt đó, thương hiệu ToCoToCo đã có những bước phát triển thần tốc và dần chiếm lĩnh thị trường trà sữa với hơn 200 cửa hàng trải dài trên toàn quốc. Cột mốc năm 2018 đánh dấu ước mơ vươn xa biển lớn của thương hiệu khi ToCoToCo
                    chính thức đặt chân lên nước Mỹ và tiếp nối thành công tại Úc, Nhật Bản, Hàn Quốc, Singapore,…
                </p>
                <p>
                    Hành trình đầy đam mê và tâm huyết này sẽ tiếp tục nhân rộng để lan tỏa những ly trà thuần khiết nông sản Việt đến mọi miền trên Việt Nam và thế giới.
                </p>
                <div class="about_img">
                    <img src="../img/1.webp" alt="" />
                </div>
                <div class="about_section">
                    <h1>THÀNH TỰU ĐẠT ĐƯỢC</h1>
                </div>
                <div class="about_img">
                    <img src="../img/ttdd_1024x1024.webp" alt="" />
                </div>
            </section>
        </div>
        <footer>
            <div class="footer">
                <div class="content-footer">
                    <img src="../img/ft_logo.png" alt="" />
                </div>
                <div class="content-footer">
                    <span>Copyrights © 2019 by ToCoToCoTea. All rights reserved.</span>
                </div>
                <div class="content-footer">
                    <a href="https://www.facebook.com/tocotocobubbletea">
                        <i class="fa-brands fa-facebook-square fb-icons"></i>
                    </a>
                    <a href="https://www.instagram.com/tocotoco_bubble_tea/">
                        <i class="fa-brands fa-instagram-square fb-icons"></i>
                    </a>
                    <a href="https://www.tiktok.com/@tocotocobubbletea/">
                        <i class="fa-brands fa-twitter-square fb-icons"></i>
                    </a>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>