<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link rel="shortcut icon" href="../img/logo_iconToco.png" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/login.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <script>
    function save() {
      var name = document.getElementById("username").value;
      var pass = document.getElementById("password").value;
      var data = {
        user: name,
        pass: pass,
      };
      var json1 = JSON.stringify(data);
      console.log(json1);
      localStorage.setItem("datajson", json1);
    }
  </script>

  <body>
    <section>
      <form id="form" action="">
        <img src="../img/Logo-ngang-01.png" alt="" />
        <!-- <label for="username"></label> -->
        <input
          type="number"
          id="username"
          name="username"
          placeholder="Số điện thoại"
          max="10"
          required
        />
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Mật khẩu"
          required
        />
        <button form="form" onclick="save()" type="button">Đăng nhập</button>
        <a href="./signup.html">Chưa có tài khoản?</a>
        <div class="line">
          <span>Hoặc</span>
        </div>
        <button>Đăng nhập với Facebook</button>
        <button>Đăng nhập với Google</button>
      </form>
      <div class="img-left">
        <img src="../img/tocotoco4.jpg" alt="" />
      </div>
    </section>
  </body>
</html>
